* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

.body-container {
  position: relative;
  height: 100vh;
  background-image: url("../assets/images/iguacu.jpg");
  background-size: cover;
}
.body-desk {
  padding: 0.25rem 0 0;
  display: grid;
  height: 90vh;
  grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(6rem, 1fr));
  row-gap: 0.25rem;
}
.body-desk #app-chrome {
  width: 1150px;
  height: 800px;
  background-color: white;
  border: 1px solid #2e2e2e;
}
.body-desk #app-photoshop {
  width: 1150px;
  height: 800px;
  background-image: linear-gradient(to right, #262527, #67458a);
  border: 1px solid #262527;
  color: white;
}
.body-desk #app-notes {
  width: 500px;
  height: 700px;
  background-color: #ebe977;
  border: 1px solid #5a5c00;
}
.body-desk #app-code {
  width: 1150px;
  height: 800px;
  background-color: #533e51;
  border: 1px solid #838383;
  color: white;
}
.body-desk #app-video {
  width: fit-content;
  background-image: linear-gradient(to bottom, #d1d1d1, black);
  border: none;
}
.body-app {
  cursor: pointer;
  padding-top: 0.25rem;
  height: 100%;
  text-align: center;
}
.body-app img {
  width: 3rem;
  aspect-ratio: 1;
}
.body-app p {
  font-size: 0.9rem;
  line-height: 1.25;
  color: white;
  text-shadow: 0px 0px 5px black;
}
.body-app:nth-of-type(3) {
  grid-column: 1/2;
  grid-row: 2/3;
}
.body-app:nth-of-type(4) {
  grid-column: -1/-2;
}
.body-app:nth-of-type(5) {
  grid-column: 3/4;
  grid-row: 3/4;
}
.body-app:nth-of-type(6) {
  grid-column: -1/-2;
  grid-row: -1/-2;
}
.body-app:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.body-app:active {
  background-color: rgba(255, 255, 255, 0.75);
}
.body-window {
  display: none;
  position: absolute;
  top: 47%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -45%);
  box-sizing: border-box;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.body-window.fadein {
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all 0.2s ease-out;
}
.body-window::-webkit-scrollbar {
  display: none;
}
.body-app-container {
  position: relative;
  padding-top: 1.75rem;
  width: 100%;
  height: 100%;
}
.body-app-top {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.75rem;
  top: 0;
  left: 0;
  right: 0;
}
.body-app-name {
  padding: 0 0.75rem;
  font-size: 0.75rem;
}
.body-close {
  cursor: pointer;
  padding: 0 0.75rem;
  height: 100%;
  display: flex;
  align-items: center;
  transition: all 0.15s ease-in-out;
  border-top-right-radius: 0.5rem;
}
.body-close:hover {
  background-color: red;
}
.body-close svg {
  width: 1.25rem;
  height: 1.25rem;
}
.body-app-content {
  padding: 5rem 2.5rem;
}
.body-taskbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}
.body-task {
  cursor: pointer;
  padding: 0.2rem;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
}
.body-task:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.body-task:active {
  background-color: rgba(0, 0, 0, 0.75);
}
.body-task img {
  width: 80%;
  height: 80%;
}
.body-title {
  position: absolute;
  top: 50%;
  left: 1rem;
  text-align: left;
  transform: translateY(-50%);
  font-size: 1rem;
  font-transform: uppercase;
  font-color: #7a7a7a;
}
.body-time {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  text-align: right;
  font-size: 0.8rem;
}

.fakeloader {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #273b4e;
}
.fakeloader.fadeout {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}
.fakeloader svg {
  width: 6rem;
  height: 6rem;
  border-radius: 50rem;
  animation-name: loading-image;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation: loading-image 4s cubic-bezier(0.22, 0, 0.28, 1) infinite;
}
.fakeloader h1 {
  margin-top: 2.5rem;
  font-size: 1.7rem;
  font-weight: normal;
  color: white;
  animation-name: loading-text;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation: loading-text 4s ease-in-out infinite;
}

@keyframes loading-image {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}
@keyframes loading-text {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
