* {
  margin: 0;
}

body {
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.body-container {
  position: relative;
  height: 100vh;
  background-image: url("../assets/images/iguacu.jpg");
  background-size: cover;
}
.body-desk {
  display: grid;
  padding: 0.25rem 0 0;
  grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(6rem, 1fr));
  row-gap: 0.25rem;
}
.body-desk #static-app {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -48%);
  max-width: 1100px;
  max-height: 750px;
  overflow-y: scroll;
  background-color: white;
  border: 1px solid #60c065 !important;
  border-top: 2rem solid #60c065 !important;
}
.body-desk #static-app.fadein {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-out;
}
.body-desk #static-app::-webkit-scrollbar {
  display: none;
}
.body-desk .ninja-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
}
.body-app {
  cursor: pointer;
  padding-top: 0.25rem;
  height: 100%;
  text-align: center;
}
.body-app img {
  width: 3rem;
  aspect-ratio: 1;
}
.body-app p {
  font-size: 0.9rem;
  line-height: 1.25;
  color: white;
  text-shadow: 0px 0px 5px black;
}
.body-app:nth-of-type(3) {
  grid-row: 2/3;
}
.body-app:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.body-app:active {
  background-color: rgba(255, 255, 255, 0.75);
}
.body-taskbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}
.body-task {
  padding: 0.25rem 0.2rem;
  display: flex;
  width: 2.25rem;
  height: 2.25rem;
  justify-content: center;
  align-items: center;
}
.body-task:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.body-task:active {
  background-color: rgba(0, 0, 0, 0.75);
}
.body-task img {
  width: 80%;
  height: 80%;
}
.body-time {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  text-align: right;
  font-size: 0.8rem;
}

.fakeloader {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #273b4e;
}
.fakeloader.fadeout {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}
.fakeloader svg {
  width: 6rem;
  height: 6rem;
  border-radius: 50rem;
  animation-name: loading-image;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation: loading-image 4s cubic-bezier(0.22, 0, 0.28, 1) infinite;
}
.fakeloader h1 {
  margin-top: 2.5rem;
  font-size: 1.7rem;
  font-weight: normal;
  color: white;
  animation-name: loading-text;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation: loading-text 4s ease-in-out infinite;
}

@keyframes loading-image {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}
@keyframes loading-text {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
